<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="demoapplication.application.com.statlib">

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:name=".MainController">
        <activity android:name=".TestActivity" />
        <activity android:name=".FirebaseCloudMessaging">
            <intent-filter>
                <action android:name="FIREACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".ChangeTheme" />
        <activity android:name=".BaseActivity"/>
        <activity android:name=".NewTestActivity"/>
    </application>

</manifest>